body{
    background-color: #111111;
}
#top{
    position: absolute;
    left: 200px;
    color: lime;
    margin: 10px;
    z-index: 4;
}
#container{
    position: absolute;
    z-index: 0;
    left: 0px;
    top:0px;
}
#frame {
    position:absolute;
    left:100px;
    top:100px;
    width:1000px;
    height:629px;
    background-image:url(../images/frame.png);
    z-index: 3;
    overflow: hidden;
}
#pic_box{
    position:relative;
    left:91px;
    top:84px;
    width:1000px;
    height:460px;
    z-index: 2;
    overflow: hidden;
}
